<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="104"/>
    <add key="serverAET" value="MyPACSServer"/>
    <add key="aetName" value="ViewerSCU"/>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
</configuration>