<?xml version="1.0" encoding="utf-8"?>
<config>
  <SCPconfig>
    <port>104</port>
    <aeTitle>MyPACSServer</aeTitle>
  </SCPconfig>
  <DBconfig>
    <host>localhost</host>
    <port>33060</port>
    <username>username</username>
    <password>password</password>
    <schema>schema</schema>
    <table>table</table>
  </DBconfig>
</config>