<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="localhost"/>
    <add key="port" value="104"/>
    <add key="server" value="MyPACSServer"/>
    <add key="aet" value="ViewerSCU"/>
    <add key="image" value=".\temp\image"/>
    <add key="mask" value =".\temp\mask"/>
  </appSettings>
</configuration>